.btn1{
    background-color: #5830E0;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    height: auto;
    color: white !important;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
}
.comming{
color: #5830E0;
text-align: center;
}
.pad1{
    padding-top: 130px;
}